<% form_for @airline, :html => { :multipart => true } do |f| %>
<%= f.error_messages %>
<div class="float_left">
<div class="left">
	<h3>Name</h3>
	<%= f.text_field :name %>		
</div>

<div class="left">
	<h3>Logo Image</h3>
	<%= f.file_field :logo %>
</div>	

<div class="left">
	<h3>Cabin Internet</h3>
	<%= f.text_field :wireless_internet %>
	<h3>Extra Text</h3>
	<%= f.text_field :cabin_internet_extra %>
</div>	
    
<div class="left">
	<h3>Excess Baggage Fee</h3>  
  <%= f.text_field :checked_bag_fee %>
	<h3>Extra Text</h3>
  <%= f.text_field :excess_baggage_fee_extra %>
</div>

<div class="left">
	<h3>Minor Fees</h3>  
	<%= f.text_field :minor_fees %>
	<h3>Extra Text</h3>
  <%= f.text_field :minor_fees_extra %>
</div>

<div class="left">
	<h3>Pets Cargo Fees</h3>  
	<%= f.text_field :pets_cargo %>
	<h3>Extra Text</h3>
  <%= f.text_field :pets_cargo_fee_extra %>
</div>

<div class="left">
	<h3>Pets Cabin Fees</h3>  
	<%= f.text_field :pets_cabin %>
	<h3>Extra Text</h3>
	<%= f.text_field :pets_cabin_fee_extra %> 
</div>

<div class="left">
	<h3>Flight Change Fee</h3>  
  <%= f.text_field :flight_change_fee %>
	<h3>Extra Text</h3>
 	<%= f.text_field :flight_change_fee_extra %>
</div>

<div class="left">
	<h3>Flight Cancel Fee</h3>  
  <%= f.text_field :flight_cancel_fee %>
	<h3>Extra Text</h3>
  <%= f.text_field :flight_cancel_fee_extra %>
</div>

</div>
<div class="float_right_padding">	
	<div class="left">
		<h3>Fatal Events</h3>  
	  <%= f.text_field :fatal_events %>
		<h3>Extra Text</h3>
	  <%= f.text_field :fatal_incidents_extra %>
	</div>
	
	<div class="left">
		<h3>Fatal Event Rate</h3>  
	  <%= f.text_field :fatal_event_rate %>
		<h3>Extra Text</h3>
	  <%= f.text_field :fatal_event_rate_extra %>
	</div>
	
<div class="left">
	<h3>Year Founded</h3>  
  <%= f.text_field :year_founded %>
</div>

<div class="left">
	<h3>Fleet</h3>  
  <%= f.text_field :fleet %>
</div>

<div class="left">
	<h3>Reservation Number</h3>  
  <%= f.text_field :reservation_number %>
</div>

<div class="left">
	<h3>URL</h3>  
  <%= f.text_field :url %>
</div>

<div class="left">
	<h3>IATA Code</h3>  
  <%= f.text_field :iata_code %>
</div>

<div class="left">
	<h3>Country</h3>  
  <%= f.text_field :country %>
</div>

<div class="left">
	<h3>ICAO Code</h3>  
  <%= f.text_field :icao_code %>
</div>

<div class="left">
	<h3>Alliance</h3>  
  <%= f.text_field :alliance %>
	<h3>Extra Text</h3>  
	<%= f.text_field :alliance_extra %>
</div>

<div class="left">
	<h3>Destinations</h3>  
  <%= f.text_field :destinations %>
	<h3>Extra Text</h3>  
  <%= f.text_field :destinations_extra %>
</div>

<div class="left">
	<h3>Total Flights</h3>  
  <%= f.text_field :total_flights %>
	<h3>Extra Text</h3>  
  <%= f.text_field :total_flights_extra %>
</div>
</div>
<div class="clear">
  <%= f.submit 'Create' %>
 <% end %>
