<div id="airline_list">
  <div id="air_text">
     <%= image_tag("air_text.png", :border => 0) %>
  </div>
  <% form_tag airlines_path, :method => :get do %>
    <p id="search_box">
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search for Airline", :name => nil %>
      <small><%= link_to 'Show all airlines', airlines_path %>
			<span class="email"><%= mail_to 'airlinestats@gmail.com', 'Email us' %></span></small>
    </p>
  <% end -%>
    
<table id="airlines" width="1050" border="1">
  <tr class="table_header">
    <!--<th width="500">Name</th>-->
		<th width="500"></th>
    <th width="50">Country</th>
   <!-- <th width="100">URL</th> -->
    <th width="100">Contact</th>
    <th width="100">IATA</th>
    <th width="100">ICAO</th>
    <th width="100">Alliance</th>
    <th width="100">Flight Change Fee</th>
    <th width="100">Flight Cancel Fee</th>
    <th width="100">Excess Baggage Fee</th>
    <th width="100">Minor Fees</th>
    <th width="100">Pets Cargo Fee</th>
    <th width="100">Pets Cabin Fee</th>
    <th width="100">Fleet</th>
    <th width="150">Destinations</th>
    <th width="100">Fatal Incidents</th>
	  <th width="120s">Fatal Event Rate</th>
    <th width="121">Cabin Internet</th>
    <th width="121">Year Founded</th>
    <th width="121">Total Flights</th>
  </tr>

<% @airlines.each do |airline| %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	
		<!-- airline_name -->
    <!-- <td><%=h airline.name %></td> -->

		<!-- airline_image -->		
		<td class="bg_white"><%= image_tag airline.logo.url(:thumb) %></td>
		
		<!-- country -->
    <td><%=h airline.country %></td>

		<!-- url -->
    <!--<td><%= auto_link(airline.url) %></td> -->

		<!-- contact -->
			<td>
				<a href="#contact" rel="facebox"><%=h airline.contact %></a>
					<div id="contact" style="display:none;">
						<%= airline.contact_extra %>
					</div>
			</td>

		<!-- iata -->
    <td><%=h airline.iata_code %></td>

		<!-- icao -->
		<td><%=h airline.icao_code %></td>

		<!-- alliance -->
		<td>
			<a href="#alliance" rel="facebox"><%=h airline.alliance %></a>
				<div id="alliance" style="display:none;">
					<%= airline.alliance_extra %>
				</div>
		</td>


		<!-- change_fee -->
		<td>
			<a href="#change_fee" rel="facebox"><%=h airline.flight_change_fee %></a>
				<div id="change_fee" style="display:none;">
					<%= airline.flight_change_fee_extra %>
				</div>
		</td>


		<!-- cancel_fee -->
		<td>
			<a href="#cancel_fee" rel="facebox"><%=h airline.flight_cancel_fee %></a>
				<div id="cancel_fee" style="display:none;">
					<%= airline.flight_cancel_fee_extra %>
				</div>
		</td>


		<!-- checked_bag_fee -->
		<td>
			<a href="#bag_fee" rel="facebox"><%=h airline.checked_bag_fee %></a>
				<div id="bag_fee" style="display:none;">
					<%= airline.excess_baggage_fee_extra %>
				</div>
		</td>


		<!-- minor_fees -->
		<td>
			<a href="#minor_fees" rel="facebox"><%=h airline.minor_fees %></a>
				<div id="minor_fees" style="display:none;">
					<%= airline.minor_fees_extra %>
				</div>
		</td>

		<!-- pets_cargo -->
		<td>
			<a href="#pets_cargo" rel="facebox"><%=h airline.pets_cargo %></a>
				<div id="pets_cargo" style="display:none;">
					<%= airline.pets_cargo_fee_extra %>
				</div>
		</td>
		
		<!-- pets_cabin -->
		<td>
			<a href="#pets_cabin" rel="facebox"><%=h airline.pets_cabin %></a>
				<div id="pets_cabin" style="display:none;">
					<%= airline.pets_cabin_fee_extra %>
				</div>
		</td>
		
		<!-- fleet -->
    <td><%=h airline.fleet %></td>

		<!-- destinations -->
		<td>
			<a href="#destinations" rel="facebox"><%=h airline.destinations %></a>
				<div id="destinations" style="display:none;">
					<%= airline.destinations_extra %>
				</div>
		</td>

		<!-- fatal_events -->
    <td>
			<a href="#fatal_events" rel="facebox"><%= airline.fatal_events %></a>
				<div id="fatal_events" style="display:none;">
					<%= airline.fatal_incidents_extra %>
				</div>
		</td>

		<!-- fatal_event_rate -->
    <td>
			<a href="#fatal_event_rate" rel="facebox"><%=h airline.fatal_event_rate %></a>
				<div id="fatal_event_rate" style="display:none;">
					<%= airline.fatal_event_rate_extra %>
				</div>
		</td>		

		<!-- cabin_internet -->
    <td>
			<a href="#wireless_internet" rel="facebox"><%=h airline.wireless_internet %></a>
				<div id="wireless_internet" style="display:none;">
					<%= airline.cabin_internet_extra %>
				</div>
		</td>		
		
		<!-- year_founded -->
    <td><%=h airline.year_founded %></td>

		<!-- total_flights -->
    <td>
			<a href="#total_flights" rel="facebox"><%=h airline.total_flights %></a>
				<div id="total_flights" style="display:none;">
					<%= airline.total_flights_extra %>
				</div>
		</td>


    <% if admin? %>
      <td><%= link_to 'Edit', edit_airline_path(airline) %></td>
      <td><%= link_to 'Destroy', airline, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end -%> 
  </tr> 
<% end %>
</table> 
<% if admin? %>
  <%= link_to 'New airline', new_airline_path %>
<% end -%>
  
</div>
		