<div id="airline_list">
  <div id="air_text">
     <%= image_tag ("air_text.png", :border => 0) %>
  </div>
  <% form_tag airlines_path, :method => :get do %>
    <p id="search_box">
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search for Airline", :name => nil %>
      <small><%= link_to 'Show all airlines', airlines_path %><span class="email"><%= mail_to 'hello@rebelcolony.com', 'Email us' %></span></small>
    </p>
  <% end -%>
    
<table id="airlines" width="1050" border="1">
  <tr class="table_header">
    <th width="500">Name</th>
		<th width="500">Logo</th>
    <th width="50">Country</th>
    <th width="100">URL</th>
    <th width="100">Reservation Number</th>
    <th width="100">IATA</th>
    <th width="100">ICAO</th>
    <th width="100">Alliance</th>
    <th width="100">Flight Change Fee</th>
    <th width="100">Flight Cancel Fee</th>
    <th width="100">Excess Baggage Fee</th>
    <th width="100">Minor Fees</th>
    <th width="100">Pets Cargo Fee</th>
    <th width="100">Pets Cabin Fee</th>
    <th width="100">Fleet</th>
    <th width="150">Destinations</th>
    <th width="100">Fatal Incidents</th>
	  <th width="120s">Fatal Event Rate</th>
    <th width="121">Cabin Internet</th>
    <th width="121">Year Founded</th>
    <th width="121">Total Flights</th>
  </tr>

<% @airlines.each do |airline| %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%=h airline.name %></td>
		<td><%= image_tag airline.logo.url(:thumb) %></td>
    <td><%=h airline.country %></td>
    <td><%= auto_link(airline.url) %></td>
    <td><%=h airline.reservation_number %></td>
    <td><%=h airline.iata_code %></td>
    <td><%=h airline.icao_code %></td>
    <td><%=h airline.alliance %></td>
    <td><%=h airline.flight_change_fee %></td>
    <td><%=h airline.flight_cancel_fee %></td>
    <td><%=h airline.checked_bag_fee %></td>
    <td><%=h airline.minor_fees %></td>
    <td><%=h airline.pets_cargo %></td>
    <td><%=h airline.pets_cabin %></td>
    <td><%=h airline.fleet %></td>
    <td><%=h airline.destinations %></td>
    <td><%=h airline.fatal_events %></td>
    <td><%=h airline.fatal_event_rate %></td>
    <td><%=h airline.wireless_internet %></td>
    <td><%=h airline.year_founded %></td>
    <td><%=h airline.total_flights %></td>
    <% if admin? %>
      <td><%= link_to 'Edit', edit_airline_path(airline) %></td>
      <td><%= link_to 'Destroy', airline, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end -%> 
  </tr> 
<% end %>
</table> 
<% if admin? %>
  <%= link_to 'New airline', new_airline_path %>
<% end -%>
  
</div>
		