<div id="airline_list">

  <% form_tag airlines_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search for Airline", :name => nil %>
    </p>
  <% end -%>
    
<table width="1050" border="1">
  <tr>
    <th width="500">Name</th>
    <th width="50">Country</th>
    <th width="100">URL</th>
    <th width="100">Number</th>
    <th width="100">IATA</th>
    <th width="100">ICAO</th>
    <th width="100">Ticket Code</th>
    <th width="100">Flight Change</th>
    <th width="100">Flight Cancel</th>
    <th width="100">Minor Fees</th>
    <th width="100">Pets Cargo</th>
    <th width="100">Pets Cabin</th>
    <th width="100">Fleet</th>
    <th width="150">Destinations</th>
    <th width="100">Fatal Incidents</th>
	  <th width="120s">Fatal Event Rate</th>
    <th width="121">Internet</th>
    <th width="121">Miles Flown</th>
    <th width="121">Total Flight</th>
  </tr>

<% @airlines.each do |airline| %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%=h airline.name %></td>
    <td><%=h airline.country %></td>
    <td><%=h airline.url %></td>
    <td><%=h airline.reservation_number %></td>
    <td><%=h airline.iata_code %></td>
    <td><%=h airline.icao_code %></td>
    <td><%=h airline.ticket_code %></td>
    <td><%=h airline.flight_change_fee %></td>
    <td><%=h airline.flight_cancel_fee %></td>
    <td><%=h airline.minor_fees %></td>
    <td><%=h airline.pets_cargo %></td>
    <td><%=h airline.pets_cabin %></td>
    <td><%=h airline.fleet %></td>
    <td><%=h airline.destinations %></td>
    <td><%=h airline.fatal_events %></td>
    <td><%=h airline.fatal_event_rate %></td>
    <td><%=h airline.wireless_internet %></td>
    <td><%=h airline.miles_flown %></td>
    <td><%=h airline.total_flights %></td>
    <% if admin? %>
      <td><%= link_to 'Edit', edit_airline_path(airline) %></td>
      <td><%= link_to 'Destroy', airline, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end -%> 
  </tr> 
<% end %>
</table> 
<% if admin? %>
  <%= link_to 'New airline', new_airline_path %>
<% end -%>
  
</div>
