<p>
  <b>Name:</b>
  <%=h @airline.name %>
</p>

<p>
  <b>Wireless internet:</b>
  <%=h @airline.wireless_internet %>
</p>

<p>
  <b>Checked bag fee:</b>
  <%=h @airline.checked_bag_fee %>
</p>

<p>
  <b>Weight limit:</b>
  <%=h @airline.weight_limit %>
</p>

<p>
  <b>Minor fees:</b>
  <%=h @airline.minor_fees %>
</p>

<p>
  <b>Pets cargo:</b>
  <%=h @airline.pets_cargo %>
</p>

<p>
  <b>Pets cabin:</b>
  <%=h @airline.pets_cabin %>
</p>

<p>
  <b>Flight change fee:</b>
  <%=h @airline.flight_change_fee %>
</p>

<p>
  <b>Flight cancel fee:</b>
  <%=h @airline.flight_cancel_fee %>
</p>

<p>
  <b>Fatal events:</b>
  <%=h @airline.fatal_events %>
</p>

<p>
  <b>Fatal event rate:</b>
  <%=h @airline.fatal_event_rate %>
</p>

<p>
  <b>Year Founded:</b>
  <%=h @airline.year_founded %>
</p>

<p>
  <b>Fleet:</b>
  <%=h @airline.fleet %>
</p>

<p>
  <b>Reservation number:</b>
  <%=h @airline.reservation_number %>
</p>

<p>
  <b>Url:</b>
  <%=h @airline.url %>
</p>

<p>
  <b>Iata code:</b>
  <%=h @airline.iata_code %>
</p>

<p>
  <b>Country:</b>
  <%=h @airline.country %>
</p>

<p>
  <b>Icao code:</b>
  <%=h @airline.icao_code %>
</p>

<p>
  <b>Alliance:</b>
  <%=h @airline.alliance %>
</p>

<p>
  <b>Regions:</b>
  <%=h @airline.regions %>
</p>

<p>
  <b>Destinations:</b>
  <%=h @airline.destinations %>
</p>

<p>
  <b>Total flights:</b>
  <%=h @airline.total_flights %>
</p>


<%= link_to 'Edit', edit_airline_path(@airline) %> |
<%= link_to 'Back', airlines_path %>