<p>
  <b>Name:</b>
  <%=h @airline.name %>
</p>
<%= image_tag @airline.logo.url(:thumb) %>
<p>
  <b>Wireless internet:</b>
  <%=h @airline.wireless_internet %>
</p>

<p>
  <b>Wireless internet extra:</b>
  <%=h @airline.cabin_internet_extra %>
</p>

<p>
  <b>Excess baggage fee:</b>
  <%=h @airline.checked_bag_fee %>
</p>

<p>
  <b>Checked bag fee extra:</b>
  <%=h @airline.excess_baggage_fee_extra %>
</p>

<p>
  <b>Minor fees:</b>
  <%=h @airline.minor_fees %>
</p>

<p>
  <b>Minor fees extra:</b>
  <%=h @airline.minor_fees_extra %>
</p>
<p>
  <b>Pets cargo:</b>
  <%=h @airline.pets_cargo %>
</p>
<p>
  <b>Pets cargo extra:</b>
  <%=h @airline.pets_cargo_fee_extra %>
</p>

<p>
  <b>Pets cabin:</b>
  <%=h @airline.pets_cabin %>
</p>

<p>
  <b>Pets cabin extra:</b>
  <%=h @airline.pets_cabin_fee_extra %>
</p>
<p>
  <b>Flight change fee:</b>
  <%=h @airline.flight_change_fee %>
</p>
<p>
  <b>Flight change fee extra:</b>
  <%=h @airline.flight_change_fee_extra %>
</p>

<p>
  <b>Flight cancel fee:</b>
  <%=h @airline.flight_cancel_fee %>
</p>
<p>
  <b>Flight cancel fee extra:</b>
  <%=h @airline.flight_cancel_fee_extra %>
</p>

<p>
  <b>Fatal events:</b>
  <%=h @airline.fatal_events %>
</p>

<p>
  <b>Fatal events extra:</b>
  <%=h @airline.fatal_event_rate_extra %>
</p>
<p>
  <b>Fatal event rate:</b>
  <%=h @airline.fatal_event_rate %>
</p>

<p>
  <b>Year Founded:</b>
  <%=h @airline.year_founded %>
</p>

<p>
  <b>Fleet:</b>
  <%=h @airline.fleet %>
</p>

<p>
  <b>Contact:</b>
  <%=h @airline.contact %>
  <%=h @airline.contact_extra %>
</p>

<p>
  <b>Url:</b>
  <%=h @airline.url %>
</p>

<p>
  <b>Iata code:</b>
  <%=h @airline.iata_code %>
</p>

<p>
  <b>Country:</b>
  <%=h @airline.country %>
</p>

<p>
  <b>Icao code:</b>
  <%=h @airline.icao_code %>
</p>

<p>
  <b>Alliance:</b>
  <%=h @airline.alliance %>
</p>

<p>
  <b>Alliance extra:</b>
  <%=h @airline.alliance_extra %>
</p>

<p>
  <b>Weight Limit:</b>
  <%=h @airline.weight_limit %>
</p>

<p>
  <b>Weight Limit extra:</b>
  <%=h @airline.weight_limit_extra %>
</p>

<p>
  <b>Destinations:</b>
  <%=h @airline.destinations %>
</p>

<p>
  <b>Destinations extra:</b>
  <%=h @airline.destinations_extra %>
</p>
<p>
  <b>Total flights:</b>
  <%=h @airline.total_flights %>
</p>


<%= link_to 'Edit', edit_airline_path(@airline) %> |
<%= link_to 'Home', airlines_path %>